body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
}
.lacunas{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.apfz,.fzsb{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.aprende, .faz{
    color: white;
}
.apfz{
    margin-left: 90px;
    width: 66px;
    height: 70px;
}
.fzsb{
    margin-left: 250px;
    width: 66px;
    height: 70px;
}
.Fazendo, .sabendo{
    display: flex;
    background-color: white;
    color: red;
    height: 60px;
    justify-content: center;
    align-items: center;
    
}